@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-greyish-blue: hsl(227, 10%, 46%);
  --dark-gery: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  background-color: var(--dark-cyan);
  overflow: hidden;
  color: var(--dark-gery);
}

.top,
.bottom {
  z-index: -1;
}

.top {
  position: absolute;
  transform: translate(-97%, -50%);
}

.bottom {
  position: absolute;
  transform: translate(-7%, 49%);
}
.card-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: grid;
  grid-template-columns: 340px;
  grid-template-rows: 150px 150px 100px;
  grid-template-areas: 'head' 'main' 'foot';
}

.header {
  grid-area: 'head';
  background-image: url('./images/bg-pattern-card.svg');
  border-radius: 15px 15px 0 0;
}

.main {
  grid-area: 'main';
  background-color: #fff;
  border-bottom: 0.5px solid var(--dark-gery);
}

.detail {
  position: relative;
  top: -20px;
}

.bold {
  color: var(--dark-desaturated-blue);
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

.main span {
  color: var(--dark-gery);
  font-weight: normal;
  padding-left: 6px;
}

.main .image img {
  background-image: url('./images/image-victor.jpg');
  background-size: cover;
  width: 96px;
  height: 96px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid white;
  position: relative;
  top: -46px;
}

.footer {
  grid-area: 'foot';
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stat {
  flex: 1;
}

.sm-text {
  font-size: 12px;
}

@media (max-width: 375px) {
}
